{
    admin off
    servers {
        enable_full_duplex
    }
}

:8080 {
    root * /app/public
    
    mercure {
        publish * *
        subscriber_jwt development_secret_key_for_testing_only
        anonymous
        cors *
        publish_origins *
    }
    
    php_server {
        root /app/public
    }
    encode gzip
    log {
        output stdout
    }
}
