parameters:
    level: max
    paths:
        - src
#        @TODO adicionar suporte aos testes
#        - tests
    ignoreErrors:
        - '#Method S3\\Log\\Viewer\\Handler\\RouterHandler::dispatch\(\) should return Psr\\Http\\Message\\ResponseInterface but returns mixed.#'